.navbar {
    background-color: #025624 !important;
}

.navbar a, .navbar-toggler-icon {
    color: white !important;
}

.form-login {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}